:root{
    --skyblue: #84b6d1;
    --deepblue: rgba(0,119,181,255);
    --gray: #424040;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.3rem;
    margin-bottom: 0;
}

p{
    font-size: 0.5rem;
    margin-top: 0;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

/* header */

.header-item-1{
    display: flex;
    justify-content: space-between;
    text-transform:capitalize;
    font-size: 1rem;
}

.logo{
    width: 25%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    margin: auto;
}

.logo-design{
    border: 1px solid blue;
    width: 30%;
    margin: auto;
}

.logo-text{
    text-align: center;
    color: var(--deepblue);
}

.logo-text p{
    color: grey;
    font-weight: bold;
}

nav{
    margin: auto;
    position: relative;
}
nav > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}

nav li{
    margin-right: 1.5em;
}

nav a{
    text-decoration: none;
    padding: .25em 0;
    color: gray;
    font-weight: bold;
}

.current{
    color: var(--deepblue);
    border-bottom: 1px solid var(--deepblue);
}

.quote{
    background: var(--deepblue);
    padding: 0.6em;
    border-radius: 5px;
    color: white;
}

.quote:hover{
    background: var(--skyblue);
}

.subgroup{
    display: none;
    font-size: 0.7rem;
    margin-top: 2em;
    
}

.subgroup ul{
    list-style: none;
    position: absolute;
    border-radius: 1em;
    border: 1px solid rgb(219, 216, 216);
    background: white;
    padding-left: 0;
}

.subgroup ul li{
    padding: 1em;
}
.subgroup a:hover{
    color: var(--deepblue);
}

ul li:hover .subgroup{
    display:block;

}

.header-item-2{
    background: rgb(234, 247, 252);
}

.header-item-2 h2{
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    text-align: center;
    font-size: 2rem;
    color: var(--deepblue);
}

.header-item-2 p{
    text-align: center;
    padding-bottom: 2em;
    font-size: 0.8rem;
    color: var(--gray);
}

.about{
    background:#f3f3ea ;
    margin-bottom: 2em;

}

.about-item{
    margin: 2em;
    display: flex;
    justify-content: space-around;
}

.about-item-1{
    width: 45%;
    margin-top: 2em;
}

.about-item-1 h2{
    color: var(--deepblue);
    font-size: 1rem;
    margin-bottom: 1em;
}

.about-item-1 h3{
    font-size: 1.7rem;
    margin-top: 0.3em;
    color:#5b5b5b ;
    margin-bottom: 0.4em;
}

.about-item-1 p{
    font-size: 0.8rem;
    color: grey;
}

.about-item-1 a{
    text-decoration: none;
    background: var(--deepblue);
    padding: 0.5em;
    border-radius: 0.3em;
    display: inline-block;
    margin-top: 0.3em;
    color: white;
}

.about-item-2{
    width: 45%;
}

.about-item-2 img{
    width: 100%;
    border-radius: 1em;
    margin: 2em;
}

/* why choose us section */

.why-item{
    margin:4em 2em;
    display: flex;
    justify-content: space-between;

}

.why-item-1{
    width: 45%;
    margin: auto 1em;
}

.why-item-1 img{
    width: 100%;
    border-radius: 1em;
}

.why-item-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.why-item-2 h2{
    font-size: 1rem;
    color: var(--deepblue);
    margin-bottom: 0;
}

.why-item-2 h3{
    font-size: 1.6rem;
    color: #5b5b5b;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.why-item-2-inner{
    display: flex;
    justify-content: space-around;
}

.why-item-2-inner-1{
    width: 85%;
    margin-right: 1em;
}

.why-item-2-inner-1 h3{
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 0.4em;
}

.why-item-2-inner-1 p{
    font-size: 0.8rem;
    margin-top: 0;
    color: var(--gray);
}
.why-item-2-inner-2{
    /* background: var(--deepblue); */
    margin:auto 0;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 50%;
    padding: 0.5em;
    box-shadow: grey;
    color: white;
    width: 10%;
}
.box-1{
    background: var(--deepblue);
}

.box-2{
    background: rgb(240, 196, 114);
}

.box-3{
    background: rgb(199, 100, 199);
}

.box-4{
    background: rgb(85, 182, 85);
}

/* Vision Mission Core-Value Goal */

.our{
    display: flex;
    justify-content: space-between;
    margin: 0 2em;
}

.our div{
    padding: 1em;
    width: 20%;
    box-shadow: -2px -2px  2px rgb(221, 212, 212), 2px 2px 2px rgb(221, 212, 212);
}

.our h3{
    font-size: 1rem;
}
.our-vision h3{
    color: var(--deepblue);
}

.our-mission h3{
    color:rgb(240, 196, 114)
}

.our-Core-values h3{
    color: rgb(199, 100, 199) ;
}

.our-goal h3{
    color: rgb(85, 182, 85) ;
}

.our p{
    font-size: 0.8rem;
    line-height: 1.5em;
    text-align: justify;
    color: var(--gray);
}

/* our partners */

.partners h3{
    color: var(--deepblue);
    margin-left: 2em;
    font-size: 1rem;
    margin-top: 4em;
}

.partner-logo{
    width: 70%;
    height: 5em;
    border: 1px solid var(--deepblue);
    margin: 0 auto;
}

.client-remark{
    width: 70%;
    margin: 0 auto;
}

.client-remark h3{
    font-size: 1.2rem;
    text-align: center;
}

.client-remark img{
    margin: 0 auto;
}

/* clients */
.client h3{
    font-size: 1.1rem;
    margin-top: 3em;
    margin-left: 3em;
    margin-bottom: 0;
    color: var(--deepblue);
}

.client p{
    font-size: 1.6rem;
    margin-top: 0.4em;
    margin-left: 2em;
    color: #5b5b5b;;
}

.images-of-clients{
    width: 100%;
    height: 5em;
    border: 1px solid var(--deepblue);
}

.get-started{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 4em;
    z-index: 2;
    background: var(--deepblue);
    height: 13em;
}

.get-started h3{
    margin-bottom: 1em;
    margin-top: 4em;
}

.get-started p{
    margin-bottom: 1.5em;
    color: white;
}
.quote-base{
    background: white;
    padding: 0.6em;
    border-radius: 5px;
    color: var(--deepblue);
}


footer{
    background: #5b5b5b;
    color: white;
}

.footer-item{
    width: 60%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;

}

.intel{
    display: flex;
    flex-direction: column;
}

.intel div h4{
    display: inline-block;
    text-align: left;
    padding-right: 0.4em;
    font-size: 0.8rem;
    
}

.footer-item h3{
    font-size: 0.6rem;
    margin-top: 14em;
    text-align: left;
}

.footer-item h4{
    font-size: 0.5rem;
    text-align: left;
}

.footer-item ul{
    padding-left: 0;
}

.footer-item ul li{
    list-style: none;
}

.footer-item a{
    text-decoration: none;
    font-size: 0.5rem;
    color: white;
    text-align: left;
    display: block;
    padding: 0.6em;
}

