:root{
    --skyblue: #84b6d1;
    --deepblue: rgba(0,119,181,255);
    --gray: #424040;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.3rem;
    margin-bottom: 0;
}

p{
    font-size: 0.5rem;
    margin-top: 0;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

/* header */

.header-item-1{
    display: flex;
    justify-content: space-between;
    text-transform:capitalize;
    font-size: 1rem;
}

.logo{
    width: 25%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    margin: auto;
}

.logo-design{
    border: 1px solid blue;
    width: 30%;
    margin: auto;
}

.logo-text{
    text-align: center;
    color: var(--deepblue);
}

.logo-text p{
    color: grey;
    font-weight: bold;
}

nav{
    margin: auto;
    position: relative;
}
nav > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}

nav li{
    margin-right: 1.5em;
}

nav a{
    text-decoration: none;
    padding: .25em 0;
    color: gray;
    font-weight: bold;
}

.current{
    color: var(--deepblue);
    border-bottom: 1px solid var(--deepblue);
}

.quote{
    background: var(--deepblue);
    padding: 0.6em;
    border-radius: 5px;
    color: white;
}

.quote:hover{
    background: var(--skyblue);
}

.subgroup{
    display: none;
    font-size: 0.7rem;
    margin-top: 2em;
    
}

.subgroup ul{
    list-style: none;
    position: absolute;
    border-radius: 1em;
    border: 1px solid rgb(219, 216, 216);
    background: white;
    padding-left: 0;
}

.subgroup ul li{
    padding: 1em;
}
.subgroup a:hover{
    color: var(--deepblue);
}

ul li:hover .subgroup{
    display:block;

}

.header-item-2{
    background: rgb(234, 247, 252);
}

.header-item-2 h2{
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    text-align: center;
    font-size: 2rem;
    color: var(--deepblue);
}

.header-item-2 p{
    text-align: center;
    padding-bottom: 2em;
    font-size: 0.8rem;
    color: var(--gray);
}

/* Product */

.product{
    width: 80%;
    margin: auto;
}

.product-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}

.product-main-item{
    width: 40%;
}
.product-main-item img{
    display: inline-block;
    margin-right: 0;
}

.product-main-item h3{
    font-size: 1.5rem;
    color: var(--gray);
}

.product-main-item p{
    font-size: 0.8rem;
    color: var(--gray);
    text-align: justify;
    margin-bottom: 2em;
}


/* clients */
.client h3{
    font-size: 1.1rem;
    margin-top: 3em;
    margin-left: 3em;
    margin-bottom: 0;
    color: var(--deepblue);
}

.client p{
    font-size: 1.6rem;
    margin-top: 0.4em;
    margin-left: 2em;
    color: #5b5b5b;;
}

.images-of-clients{
    width: 100%;
    height: 5em;
    border: 1px solid var(--deepblue);
}

.get-started{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 4em;
    z-index: 2;
    background: var(--deepblue);
    height: 13em;
}

.get-started h3{
    margin-bottom: 1em;
    margin-top: 4em;
}

.get-started p{
    margin-bottom: 1.5em;
    color: white;
}
.quote-base{
    background: white;
    padding: 0.6em;
    border-radius: 5px;
    color: var(--deepblue);
}


footer{
    background: #5b5b5b;
    color: white;
}

.footer-item{
    width: 60%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;

}

.footer-item h3{
    font-size: 0.6rem;
    margin-top: 14em;
    text-align: left;
}

.footer-item h4{
    font-size: 0.5rem;
}

.footer-item ul{
    padding-left: 0;
}

.footer-item ul li{
    list-style: none;
}

.footer-item a{
    text-decoration: none;
    font-size: 0.5rem;
    color: white;
    text-align: left;
    display: block;
}

